<form action="/projects" id="new_project" method="post">
	<fieldset>
		<legend>New Project</legend>
		<label for="name">Project Name</label>
		<br>
		<input type="text" id="name" placeholder="Project Name">
		<br>
		<label for="description">Description</label>
		<br>
		<textarea name="description" id="description" cols="30" rows="5"></textarea>
		<br>
		<button class="btn" type="submit">Submit</button>
	</fieldset>
</form>